<nav class="nav">
    <a href="/store" {% if page.url == "/store/" %} class="nav-current" {% endif%} >STORE</a>
    <a href="/blog" {% if page.url == "/blog/" %} class="nav-current" {% endif%} >BLOG</a>


{#
        {% for note in collections.bases %}
            <li class="nav-item">
                <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
        {% endfor %}
#}
</nav>


