---
layout: "base.njk"
---

<div class="product-container">
    <div class="product-image">
        <img src="{{ image }}">
    </div>

    <div class="product-text">
        <h2> {{producttitle}} </h2>
        <p>{{price}}</p>
        <p> {{description}} </p>
    </div>
</div>